# -------------------
# Node.js / Backend
# -------------------
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Entorno
.env

# Logs
logs
*.log
*.out
*.pid

# -------------------
# React / Frontend
# -------------------
frontend/node_modules/
frontend/build/
frontend/.env

# -------------------
# Docker
# -------------------
*.pid
*.seed
*.bak
*.swp
*.tmp
*.swm
*.swo
docker-compose.override.yml

# -------------------
# Sistema operativo
# -------------------
.DS_Store
Thumbs.db
*.swp
*~
