node_modules
# Ignorar dependencias
node_modules/

# Ignorar archivos de entorno
.env
.env.*
!.env.example  # (opcional) si quieres subir un ejemplo vacío

# Ignorar archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar compilaciones
dist/
build/
out/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db
